DB_HOST=easypanel.kodigo.cloud
DB_PORT=5435
DB_NAME=Rodobach
DB_USER=kodigo
DB_PASSWORD=@Kodigo2026
DB_SCHEMA=public

PORT=3333
FRONTEND_ORIGIN=http://localhost:5173
TELEMETRIA_RESUMO_DIR=C:\caminho\para\resumos\telemetria

CLIENT_DB_HOST=100.115.142.43
CLIENT_DB_PORT=5432
CLIENT_DB_NAME=sinersofttms
CLIENT_DB_USER=automacao
CLIENT_DB_PASSWORD='*@automacao@2026#10$'
CLIENT_DB_SSL=false
CLIENT_DB_MAX_CONNECTIONS=2
CLIENT_DB_CONNECTION_TIMEOUT_MS=10000
CLIENT_DB_QUERY_TIMEOUT_MS=30000
CLIENT_DB_STATEMENT_TIMEOUT_MS=30000
CLIENT_DB_LOCK_TIMEOUT_MS=5000
